* {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    height: 159px;
    width: 100%;
}

.menu-bars {
    float: left;
    position: absolute;
    left: 20px;
    top: 20px;
}

.menu-bars a {
    font-size: 40px;
    color: black;
}

.profile {
    float: right;
    position: absolute;
    right: 20px;
    top: 20px;
}

.profile a {
    font-size: 40px;
    color: black;
}

.logo {
    text-align: center;
}

.logo img {
    padding: 20px;
    height: 50px;
}

.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-bar input {
    padding: 10px;
    width: 100%;
    height: 35px;
    border: none;
    font-size: 30px;
    background-color: aqua;
}

.search-bar button {
    top: 100px;
    right: 30px;
    position: absolute;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

body {
    background-color: darkgray;
}

.main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.title p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.banner-principal img {
    height: auto;
    width: 100%;
}

.categorias {
    width: 100%;
    margin-bottom: 10px;
}

.botao-categoria {
    text-align: center;
    background-color: white;
    border: solid 2px gray;
    border-radius: 3px;
    margin: 5px;
}

.botao-categoria img {
    width: 40%;
    padding: 10px;
}

.botao-categoria p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
}

footer {
    bottom: 0px;
    height: 160px;
    width: 100%;
    background-color: red;
}

.social {
    background-color: darkblue;
    text-align: center;
    padding: 20px;
}

.social a {
    color: white;
    font-size: 30px;
    padding: 10px 30px;
}

@media only screen and (min-width: 500px) {
    .search-bar input {
        font-size: 20px;
    }

    .categorias {
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap-reverse;
    }

    .botao-categoria {
        font-size: 13px;
        width: 30%;
    }
}

@media only screen and (min-width: 900px) {
    .menu-bars {
        display: none;
    }

    .categorias {
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap-reverse;
    }

    .botao-categoria {
        font-size: 13px;
        width: 15%;
    }

    .social a{
        font-size: 20px;
    }
}