.main {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0096D6;
}

.banner-principal img {
    height: auto;
    width: 100%;
}

.categorias {
    width: 100%;
    margin-bottom: 10px;
}

.link-categoria {
    text-decoration: none;
    color: black;
}

.botao-categoria {
    text-align: center;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
}

.botao-categoria:hover {
    background-color: #898989;
}

.botao-categoria img {
    width: 80%;
    padding: 10px;
}

.botao-categoria p {
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
}

/* tablet */
@media only screen and (min-width: 550px) {
    .categorias {
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .botao-categoria {
        height: 95%;
        font-size: 13px;
    }

    .link-categoria {
        width: 30%;
    }
}

/* desktop */
@media only screen and (min-width: 1000px) {
    .categorias {
        justify-content: center;
        display: inline-flex;
        flex-wrap: wrap;
        width: 70%;
    }

    .botao-categoria {
        height: 95%;
        font-size: 15px;
    }

    .link-categoria {
        width: 30%;
    }
}